<h2>LightningSEO.dev: New Website Visit</h2>
<ul>
  <li><strong>IP:</strong> <%= @visitor[:ip] %></li>
  <li><strong>City:</strong> <%= @visitor[:city] %></li>
  <li><strong>Region:</strong> <%= @visitor[:region] %></li>
  <li><strong>Country:</strong> <%= @visitor[:country] %></li>
  <li><strong>Referrer:</strong> <%= @visitor[:referrer] %></li>
  <li><strong>User Agent:</strong> <%= @visitor[:userAgent] %></li>
  <li><strong>Time:</strong> <%= @visitor[:timestamp] %></li>
</ul>